*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  padding: 0;
  cursor: pointer;
}
:disabled {
  cursor: not-allowed;
}
img {
  vertical-align: bottom;
}
iframe {
  border: none;
}

@font-face {
  font-family: proxima;
  font-weight: 400;
  src: url(..//Fonts/proximanova-regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: proxima;
  font-weight: 700;
  src: url(..//Fonts/proximanova-bold.woff2);
  font-display: swap;
}
@font-face {
  font-family: proxima;
  font-weight: 100;
  src: url(..//Fonts/Proxima-Nova-Thin.woff2);
  font-display: swap;
}

body {
  font-family: proxima, sans-serif;
  font-weight: 100;
}
.pr {
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

/* 12 Grids  */
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;
}

.row [class^="col"] {
  flex: 1 0 auto;
  padding: 0 1rem;
}

.row .col-1 {
  flex-basis: 8.33%;
  max-width: 8.33%;
}
.row .col-2 {
  flex-basis: 16.66%;
  max-width: 16.66%;
}
.row .col-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.row .col-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
}
.row .col-5 {
  flex-basis: 41.66%;
  max-width: 41.66%;
}
.row .col-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.row .col-7 {
  flex-basis: 58.33%;
  max-width: 58.33%;
}
.row .col-8 {
  flex-basis: 66.66%;
  max-width: 66.66%;
}
.row .col-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.row .col-10 {
  flex-basis: 83.33%;
  max-width: 83.33%;
}
.row .col-11 {
  flex-basis: 91.66%;
  max-width: 91.66%;
}
.row .col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-right {
  justify-content: right;
}
.justify-space-bet {
  justify-content: space-between;
}
.conjus {
  justify-content: space-between;
}

/* .headmain{display: flex; } */
.profile {
  display: flex;
  justify-content: right;
}

.wrap-1 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 72px;
  align-items: center;
}

.wrap-1 .client {
  display: flex;
  margin: 0 15px;
  font-size: 16px;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
}

.image {
  margin: 10px 0;
}
.ulbox {
  position: absolute;
  width: 236px;
  height: 312px;
  left: 72px;
  top: 96px;

  background: #ffffff;
  /* Gray 4 */

  border: 0.5px solid #bdbdbd;
  border-radius: 16px;
}
aside ul li {
  margin: 30px 18px;
}
aside ul li a {
  margin: 0 7px;
}
aside .active {
  background: #fde4d3;
  width: 200px;
  /* height: 48px; */
  left: 72px;
  top: 116px;

  /* color: #ec6608; */

  /* opacity: 0.1; */
}
main .dboard {
  /* position: relative; */
  margin: 24px -40px;
  display: flex;
  justify-content: space-between;
}
.rdiv .s1 {
  margin: 0 16px;
}

.query1 {
  position: relative;

  width: 310px;
  height: 141px;
  /* left: 332px;
  top: 150px; */
  margin: 20px -40px;
  background: linear-gradient(90deg, #0052d4 0%, #4364f7 50%, #6fb1fc 100%);
  border-radius: 16px;
}
.query2 {
  position: relative;
  width: 310px;
  height: 141px;
  margin: 20px -1px;
  /* left: 685px;
  top: 150px; */

  background: linear-gradient(90deg, #76b852 0%, #8dc26f 100%);
  border-radius: 16px;
}

.query3 {
  position: relative;

  width: 310px;
  height: 141px;
  margin: 20px 37px;
  /* left: 1039px;
  top: 150px; */

  background: linear-gradient(90deg, #ec6608 0%, #fbba00 100%);
  border-radius: 16px;
}
/* .boxdiv {
  margin: 0 20px;
} */

.headp {
  position: absolute;
  margin: 40x 0px;
}

.absolute {
  position: absolute;
}
.boximg {
  margin: 20px 230px;
}
.headp {
  margin: 14px 10px;
  color: #ffffff;
}
.headp h3 {
  font-weight: 500;
  font-size: 20px;
}
.headp p {
  margin: 40px 0;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}

footer {
  padding: 50px 0;
}

/* canvas #c1 {
  width: 311px;
  height: 133px;
} */
.piechart_1 {
  margin: 20px 100px;
}
.canvas1 {
  margin: 20px 0;
  padding: 30px 0;
}
.chartcontainer .canvasjs-chart-canvas {
  border: 1px solid rgb(26, 25, 25);
}
.canvas_1 {
  padding: 20px 0;
}

.footimg {
  width: 140.14px;
  height: 64px;
}
.footul li {
  margin: 13px 0;
}
.footul li button {
  margin: 0 7px;
  background: #ec6608;
  padding: 5px;
  color: #ffffff;
  border: none;
}
.footul .inputbtn {
  border-bottom: 1px solid;
  border: none;
  border-bottom: 1px solid;
  background: #F1F1F1;

}
.chartborder1 {
  border: 1px solid rgb(90, 86, 86);
  padding: 20px;
}
.chartborder2 {
  border: 1px solid rgb(99, 95, 95);
}
footer {
  background: #f1f1f1;
}
.flex {
  display: flex;
}

.data .prod .color1 {
  padding: 7px;
  margin: 0 10px;
  background: #9013fe;
}
.data .prod .color2 {
  padding: 7px;
  margin: 0 10px;
  background: #1f6abb;
}
.data .prod .color3 {
  padding: 7px;
  margin: 0 10px;
  background: #fbba00;
}
.data .prod .color4 {
  padding: 7px;
  margin: 0 10px;
  background: #ec6608;
}

.data .prod2 {
  margin: 20px 100px;
}
.data .prod2 .color {
  margin: 20px 0;
}
.data .prod .color {
  margin: 23px 22px;
}
.data .prod2 .color1 {
  color: #9013fe;
}
.data .prod2 .color2 {
  color: #1f6abb;
}
.data .prod2 .color3 {
  color: #fbba00;
}
.data .prod2 .color4 {
  color: #ec6608;
}
.footer2{padding: 20px 0;}

.footer2 h3 {display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 200;

}
.footer2 ul{margin: 0 19px;display: flex;
  align-items: center;}
.footer2 ul li{margin: 0 8px;}
/* .footer2 .playstore{margin: 0 15px;} */
